<app-header></app-header>

<div class="container">
  <div class="section">
    <h4>Question {{currentQuestionIndex + 1}}/{{questions.length}}</h4>
    <app-quiz-progress [value]="getProgress()"></app-quiz-progress>
  </div>
  <div class="section narrow-section">
    <app-quiz-question [question]="questions[currentQuestionIndex]" [currentAnswer]="answers[currentQuestionIndex]"
      (answerSelect)="setAnswer($event)" [selectionDisabled]="isSaving">
    </app-quiz-question>
  </div>
  <div class="section narrow-section button-section">
    <button app-button (click)="next()" [disabled]="!canGoNext()">
      {{ getButtonText() }}
    </button>
  </div>
</div>

<app-footer></app-footer>