<app-intro-header></app-intro-header>

<div class="container">
  <div class="section">
    <h3>Take the “Introvert or Extrovert” Test</h3>
    <p>
      For the best results, don’t answer how you think you’re supposed to. Choose the answer that is most true for you,
      most of the time. For some questions, you may have a hard time choosing (and that’s okay!). When there is no
      perfect answer, pick the option you are most drawn to. If you’re really stumped, you may want to ask someone close
      to you to weigh in.
    </p>
  </div>

  <div class="section">
    <h3>Introverts and Extroverts Are Born, Not Made</h3>
    <p>
      No matter which way the introvert quiz says you lean, it’s likely that you were born that way (at least in part).
      Being an introvert or an extrovert is part of your innate temperament — the way that you gain energy and prefer to
      interact with the world. Introversion and extroversion are both temperaments, and both are normal and healthy.
      About
      30-50 percent of the population are thought to be introverts.
    </p>
    <p>
      You are shaped by both your genes and experiences. Research shows that you were likely born an introvert or
      extrovert, and that preference will stick with you for life. Introverts will probably always have a preference for
      calm and solitude, while extroverts will thrive in more stimulating environments.
    </p>
    <p>
      However, people change. You have new experiences and learn new things. You grow and stretch as a person. In fact,
      research shows that people tend to change over their lifetime — and usually for the better. That’s because our
      personalities, not temperaments, grow and develop.
    </p>
    <p>
      That means your temperament doesn’t have to “doom” you. If you’re an introvert who wants to, say, become a better
      conversationalist, you can learn and practice those skills. Likewise, extroverts can learn to slow down, listen
      more,
      and enjoy solitude.
    </p>
    <p>
      Above all, honor your temperament — and also know that you can work on anything that holds you back.
    </p>
  </div>

  <div class="section">
    <h3>No Pure Introverts or Extroverts</h3>
    <p>
      No two introverts (or extroverts) are exactly alike. What’s true for one introvert may be be quite different for
      another. Each introvert has a different level of tolerance for stimulation. Each extrovert will vary in their need
      for “people” contact, among other things.
    </p>
    <p>
      Also, there is no such thing as a pure introvert or extrovert — no matter what the introvert/extrovert quiz says.
      “Such a man would be in the lunatic asylum,” the famous psychotherapist Carl Jung once noted. Introversion and
      extroversion are on a spectrum, meaning, they are not all-or-nothing traits. Everyone acts introverted at times
      and
      extroverted at other times. It’s all about what your preference — in general — is.
    </p>
  </div>

  <div class="section">
    <h3>Why It’s Important to Understand Your Temperament</h3>
    <p>
      It’s powerful to understand your temperament, because when you live a life that complements your nature, you
      unleash incredible stores of energy.
    </p>
    <p>
      On the other hand, when you spend too much time fighting your nature, the opposite happens, and you end up
      depleting yourself. If you’re an introvert who has been stuffing your schedule full of social events — and leaving
      no time for solitude — you won’t feel or function at your best. If you’re an extrovert whose career forces you to
      be alone for long periods of time, you’re probably not living your best life. Working with your temperament rather
      than fighting against it will ultimately make you happier, more productive, and more present for the people in
      your life.
    </p>
    <p>
      That’s one of the reasons that taking the introvert test can be so powerful; knowing where you get your energy
      means you can be your best self.
    </p>
  </div>

  <div class="section">
    <h3>Learn More About Introversion</h3>
    <p>
      Check out the bestselling book,
      <a href="">
        <strong>
          The Secret Lives of Introverts: Inside Our Hidden World, by Introvert, Dear founder Jenn
          Granneman.
        </strong>
      </a>
    </p>

    <p>Also, we recommend starting with these articles:</p>

    <ul>
      <li>
        <a href="">If You Relate to These 21 Signs, You’re Probably an Introvert</a>
      </li>
      <li>
        <a href="">Introverts Don’t Hate People, They Hate Shallow Socializing</a>
      </li>
      <li>
        <a href="">Why Do Introverts Love Being Alone? Here’s the Science</a>
      </li>
    </ul>

    <p>
      And thank you for taking the introvert/extrovert quiz. We hope it’s the first step toward a long path of getting
      to know yourself.
    </p>
  </div>
</div>

<app-footer></app-footer>