@import '../../../variables.scss';

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $header-text-color;
  height: 128px;
  padding: 0 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;

  &.sticky {
    position: fixed;
    height: 70px;
    padding-top: 5px;
    background: $header-background;
    border-bottom: 5px solid $header-accent;
    .logo {
      width: 180px;
    }
    &.animated {
      animation: fadein 300ms;
    }
  }
}

.social {
  font-size: 24px;
  fa-icon {
    margin: 0 20px;
  }
}