:host {
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header-image {
  flex: 0 1 473px;
  overflow: hidden;
  img {
    max-height: 100%;
  }
}

.scroll-down-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 40px 0 20px;
  app-mouse-icon {
    margin-left: 16px;
  }
}