// color palette
$white: #FFFFFF;
$black: #000000;
$apricot: #EA937D;
$terracotta: #E37E6A;
$elephant: #124554;
$bottle-green: #092730;

// theme
$header-background: $apricot;
$header-accent: $terracotta;
$header-text-color: $white;
$footer-background: $elephant;
$footer-text-color: $white;
$text-color: $bottle-green;